alembic
blinker
cachelib
cffi
click
colorama
cryptography
Flask
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Session
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
itsdangerous
Jinja2
Mako
MarkupSafe
mysql-connector-python
packaging
protobuf
psycopg2
pycparser
PyMySQL
python-dotenv
SQLAlchemy
typing_extensions
Werkzeug
WTForms
