<div style="font-family: Helvetica,Arial,sans-serif;min-width:700px;overflow:auto;line-height:2">
    <div style="margin:50px auto;width:600px;padding:20px 0">
      <div style="border-bottom:1px solid #eee">
        <a href="" style="font-size:1.4em;color: #00466a;text-decoration:none;font-weight:600">Bwave ICT</a>
      </div>
      <p style="font-size:1.1em">Hi {{ first_name }},</p>
      <p>To complete Your registration, please verify your email address. <br/>Your verification code is:</p>
      <h2 style="background: #00466a;margin: 0 auto;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;">{{ verification_code }}</h2>
      <p style="font-size:0.9em;">
        This code will expire soon.
        <br/>
        If you did try to register, please ignore this message <br/><b>Do not forward or give this code to anyone.</b>
        <br/>
        <br/>
        Sincerely yours,
        <br/>
        Bwave ICT</p>
      <hr style="border:none;border-top:1px solid #eee" />
      <div style="padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
        <p>Do not reply this email</p>
      </div>
      <div style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
        <p>Rivers state ict dept, </p>
        <p> Aba Road, Port Harcourt,</p>
        <p>Rivers State</p>
       

      </div>
    </div>
  </div>